.arrows {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 20px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 3px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0; transform:translateY(10px)}
80% {opacity:1; transform:translateY(50px)}
100% {opacity:0; transform:translateY(50px)}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0; transform:translateY(10px)}
80% {opacity:1; transform:translateY(50px)}
100% {opacity:0; transform:translateY(50px)}
}

.arrows path.a1 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

.instagram{
  background-image: -webkit-linear-gradient(right, #FC7864, #FDA366);
  background-image: -moz-linear-gradient(right, #FC7864, #FDA366);
  background-image: -o-linear-gradient(right, #FC7864, #FDA366);
  background-image: -ms-linear-gradient(right, #FC7864, #FDA366);
  background-image: linear-gradient(right, #FC7864, #FDA366);
}
